@import "styles/vars/colors";


.teaser {
  position: relative;
  flex-basis: 100%;
  padding: 15px;
  box-sizing: border-box;
  &.small {
    flex-basis: 33%;
  }
  > .description {
    color: $text-middle-between-middle-and-dark;
    line-height: 1.5em;
  }
}
