$background-color: #edf1f5;

$text-extra-light: #fff;
$text-light: #e6e6e6;
$text-middle: #999999;
$text-middle-between-middle-and-dark: #5c5c5c;
$text-dark: #282828;
$dark-grey: #333333;

$label-backround: #14b5a5;
