{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": false
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "comma-dangle": ["warn", "always-multiline"],
    "no-undef": ["warn"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "object-curly-spacing": ["error", "always"],
    "padded-blocks": ["error", { "blocks": "never", "classes": "always" }],
    "space-before-function-paren": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "max-len": ["error", 100, 2, { "ignoreComments": true, "ignoreUrls": true }],
    "react/prop-types": ["error"],
    "react/jsx-space-before-closing": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "react/forbid-prop-types": ["warn"],
    "react/no-unused-prop-types": ["warn"],
    "import/no-extraneous-dependencies": ["off"]
  }
}
