@mixin hide-placeholder-on-focus {
  &::-webkit-input-placeholder { transition: opacity .3s; }
  &:-moz-placeholder { transition: opacity .3s; } /* FF 4-18 */
  &::-moz-placeholder { transition: opacity .3s; } /* FF 19+ */
  &:-ms-input-placeholder { transition: opacity .3s; } /* IE 10+ */
  &:focus{
    &::-webkit-input-placeholder { opacity: 0; }
    &:-moz-placeholder { opacity: 0; } /* FF 4-18 */
    &::-moz-placeholder { opacity: 0; } /* FF 19+ */
    &:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
  }
}
