.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #14b5a5;
  color: #fff;
  padding: 10px 2rem;

  > .line {
    flex-basis: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }

  > .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  > .copyright {
    flex-basis: 50%;
    font-size: 16px;
    text-align: right;
  }
}
