.search {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  > .input {
    box-sizing: border-box;
    border: 0;
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    &:focus {
      outline: 0;
    }
  }
}
