@import "styles/vars/sizes";

.appLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .page,
  > .footer {
    padding-left: $sidebar-normal-size;
  }

  > .page {
    height: 100%;
    padding-left: $sidebar-normal-size;

    > .main {
      padding: 0 2rem 0;
    }

    .center {  }
    .right {  }
  }

}
